.header a{
    margin-right: 20px;
    text-decoration: none;
    padding: 5px 10px;
    /* transition: 5s; */
    border-radius: 3px;
}
.header a:hover{
    background-color: cadetblue;
    transform: scale(2,2);
}
.active{
    border-bottom: 4px solid blue;
}